<div style="background: #fafafa 0% 0% no-repeat padding-box m-10">
  <div class="container mx-auto flex justify-between">
    <div class="w-full flex flex-row">
      <div class="w-1/2 flex justify-start flex-col">
        <span class="title">
          Your selfcare service offers </span>
        <p class="subtitle pt-4">Available offers</p>

      </div>
      <div class="w-1/2 flex justify-start">
      </div>
    </div>

  </div>
  <div class="flex flex-row flex-wrap container ">
    <div class="p-card m-6"
     style="width: 315px;"
      *ngFor="let off of offers; trackBy: trackByFn">
  <div class="p-header"
    [ngStyle]="{'background': colors[3]}">
    {{ off.name }}
  </div>

  <div class="p-body border border-2" *ngIf="!showDetail[off.id]">
    <div class="sublable"><strong style="font-weight: 600;">From {{off.contractStartDate|date}}</strong></div>
    <div class="sublable"><strong style="font-weight: 600;">To {{off.contractEndDate|date}}</strong></div>
    <div class="try-button-container mt-10"><button class="try-button"
      (click)="detail(off)">Detail</button></div>
  </div>
  <div class="p-body border border-2" *ngIf="showDetail[off.id]">
    <div class="feature">
      <div *ngFor="let detail of offerDetails">
        <div class="sublable"><strong style="font-weight: 600;">{{detail.name}}</strong></div>
        <div class="sublable text-xs pb-2" style="font-size: 14px;">Type :  {{detail.type}}</div>
        <hr>
      </div>
    </div>
    <div class="try-button-container mt-10"><button class="try-button"
      (click)="back(off)">Back</button></div>
  </div>
</div>
  </div>

</div>
