.title {
  color: rgb(41, 45, 52);
  text-align: left;
  margin: 0px;
  font: 800 50px / 69px Arial, serif;
}

.subtitle {
  color: rgb(124, 130, 141);
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  font-family: Arial, serif;
}
.container{
  padding: 20px 100px;
}
